body, html {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .leftpane {
      width: 50%;
      height: 350px;
      float: left;
      /*background-color: rosybrown;*/
      border-collapse: collapse;
  }
  .rightpane {
    width: 50%;
    height: 350px;
    position: relative;
    float: right;
    /*background-color: yellow;*/
    border-collapse: collapse;
  }
  .rightpane h2{
    text-align: justify;
    color: #d2d6d1;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .rightpane h3{
    color: #d2d6d1;
    margin: 0;
    text-align: center;
  }
  .rightpane h4{
    margin: 0;
    color: #d2d6d1;
    margin: 0px 35px;
    word-spacing: 65px;
  }
  footer{
    color: #d2d6d1;
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
  }
  .rightpane img{
    border-radius: 50%;
    margin: 0px 5px;
    margin-top: 10px;
  }
  
  .toppane {
    width: 100%;
    height: 350px;
    border-collapse: collapse;
    padding-left: 32%;
    padding-top: 50px;
  }
  